<html>
<head>	

<script language="javascript" type="text/javascript" src="/js/kospiSuggest.js"></script>
<link rel="stylesheet" href="/css/analysis.css" type="text/css">	

<script>

function waveInit(id){
	$("#analysisWrap" + id + " .analStep3 input:radio:checked").each(function(i){
		 $(this).attr("checked", "");
	});
}

function analysis(){
	var str = "";
	
	var k = 1;
	$("#analysisWrap1 .analStep1 input:checkbox:checked").each(function(i){
		str += k + ". " +  $(this).val() + "<br>";
		k++;
	});
	
	$("#analysisWrap1 .analStep2 input:checkbox:checked").each(function(i){
		str += k + ". " +  $(this).val() + "<br>";
		k++;
	});
	
	$("#analysisWrap2 .analStep3 input:radio:checked").each(function(i){
		str += k + ". " +  $(this).val() + "<br>";
		k++;
	});
	
	$("#analysisWrap2 .analStep3 input:text").each(function(i){
		var arr = ['5-3-3','10-6-6','20-12-12'];
		if( trim($(this).val()) ){
			str += k + ". " +  "스토캐스틱(" + arr[i] + ") - " + $(this).val() + "<br>";
			k++;
		}
	});
	
	$("#analysisWrap3 .analStep3 input:radio:checked").each(function(i){
		str += k + ". " +  $(this).val() + " <img src='/images/analysis/wave_"+ $(this).attr("id") + ".png' align='absmiddle' style='margin:5px'><br>";
		k++;
	});
	
	$("#modalHtml").html(str)
	
  	makeModal({
		title : "분석결과 - <a href=\"javascript:copyToClipboard( $('#modalView .modalTarget').html() )\">HTML 복사</a>",
		type : "html",
		html : $("#modalHtml").html(),
		width : 500,
		height : 450,
		modal : false
    })
	
}

var kospiXmlData = null;
function getItem(){
    jQuery.ajax({
    	url: '/lib/itemList.json',
    	type : 'POST',
		dataType: 'JSON', 
    	timeout : 5000,
		error: function(){
        	modalAlert('JSON 로드 실패');
    	},
		success: function(data){
			kospiXmlData = eval('(' + data + ')').dataList ;
			kospiInitField(document.frm.codeNm);
		}
    });
}

function viewCompany(codeCd,codeNm){
	makeModal({
		title : "기업정보 - " + codeNm,
		type : "iframe",
		url : "http://asp01.fnguide.com/SVO/Handbook_New/xml/SVD_Main.asp?pGB=5&gicode=A" + codeCd + "&MenuID=11&cID=50",
		width : 800,
		height : 550,
		modal : false
	});
}


function search(){
	if( $("#codeCd").val() ){
		viewCompany($("#codeCd").val(), $("#codeNm").val())
	}
}

function searchInfo(){
	var infoStr = $("#info").val();
	if( !trim(infoStr) ) return;

	makeModal({
		title : "테마정보 - " + infoStr,
		type : "iframe",
		url : "/front/analysis/kospiInfo.do?searchString=" + encodeURIComponent(infoStr),
		width : 750,
		height : 500,
		modal : false
	})
	
	document.body.focus();
}

$(document).ready(function() {
	
	$(".toolTip").each(function (i){
		getToolTip( $(this).attr("id"), $("#" + $(this).attr("title")).html(), $(this).attr("tipWidth") )
	});
	
	$(".waveTip").each(function (i){
		getToolTip( $(this).attr("id"), "<div style='height:100px'><img src='/images/analysis/wave_" + $(this).attr("id") + ".png'>" + "<p align='center'>" + $(this).attr("title") + "</p></div>", 150 )
	});
	
	//코스피 서제스트
	getItem();
	document.body.onclick= outField;
	
});


</script>
	
</head>

<body>
<div id="wrapper">
	<p class="title">매매분석 > 현물분석 > 매수분석</p>

	<div id="analysisWrap1">
    	<div class='analysisBox1 whiteBox'>
    		<div class="analStep1"><input type="checkbox" name="num" value="시장 보다 강하다."> 1. 시장 보다 강하다.</div>
    		<div class="analStep1"><input type="checkbox" value="시장을 선도하는 주도주이다."> 2. 시장을 선도하는 주도주이다.</div>
    		<div class="analStep1"><input type="checkbox" value="업종 주도주이다."> 3. 업종 주도주이다.</div>
    		<div class="analStep1"><input type="checkbox" value="테마주이다"> 4. 테마주이다.</div>
    		
    		<div class="analStep1">5. 수급상황</div>
    		<div class="analStep2"><input type="checkbox" value="수급-기관/투신 매수"> 기관/투신 매수</div>
    		<div class="analStep2"><input type="checkbox" value="수급-외국인 매수"> 외국인 매수</div>
    		<div class="analStep2"><input type="checkbox" value="수급-개인 매수"> 개인 매수</div>
    	</div>
    	
    	<div class='analysisBox2' style="margin-top:20px">
			출처 : fnguide <a href="http://www.fnguide.com" target="_blank"><font color="#2B6AB9">http://www.fnguide.com</font></a>
			<form name="frm" onSubmit="return false">
    		기업정보 : <input type="text" name="codeNm"  id="codeNm" onClick="this.select()" onKeypress="if(event.keyCode == 13){search()}"  style="width:160px;ime-mode:active" class="border">
			<a href="javascript:search()"><img src="/images/common/search_02.gif" align="absmiddle"></a>
			<input type="hidden" name='codeCd'  id="codeCd">
			</form>
    	</div>
		
		<div class='analysisBox2' style="margin-top:20px">
			출처 : fnguide <a href="http://www.fnguide.com" target="_blank"><font color="#2B6AB9">http://www.fnguide.com</font></a>
			<form name="infoFrm" onSubmit="return false">
    		테마정보 : <input type="text" name="info"  id="info" onClick="this.select()" onKeypress="if(event.keyCode == 13){searchInfo()}"  style="width:160px;ime-mode:active" class="border" maxlength="20">
			<a href="javascript:searchInfo()"><img src="/images/common/search_02.gif" align="absmiddle"></a>
			</form>
    	</div>
		
		<div class='analysisBox3'>
    		<button class="word4" style="margin-top:20px" onClick="analysis()" onFocus="blur()">분석결과</button>
    	</div>
	</div>	
	
	<div id="analysisWrap2">
	<div class="whiteBox">
		<div class="analStep1">6. 단일 파동 분석 <span class="analinit" onClick="waveInit(2)">초기화</span></div>
		<div class="analStep2">① 상승형</div>
		<div class="analStep3"><input type="radio" name="wave11" value="상승형-20일선 위"> 20일선 위</div>
		<div class="analStep3"><input type="radio" name="wave11" value="상승형-20이선 아래"> 20이선 아래</div>
		<div class="analStep3"><input type="radio" name="wave11" value="상승형-전저점 지지"> 전저점 지지</div>
		<div class="analStep3"><input type="radio" name="wave11" value="상승형-전저점 지지"> 전저점 지지</div>
		<div class="analStep3"><input type="radio" name="wave11" value="상승형-10일선지지"> 10일선지지</div>
		<div class="analStep3"><input type="radio" name="wave11" value="상승형-20일선 지지"> 20일선 지지</div>
		<div class="analStep3"><input type="radio" name="wave11" value="상승형-60일선 지지"> 60일선 지지</div>

		<div class="analStep2">② 박스권 <img src="/images/icon/icon_03.png" align="absmiddle" class="toolTip" id="toolTip1" title="buyTip1" tipWidth='450'></div>
		<div class="analStep3"><input type="radio" name="wave12" value="박스권-돌파시점"> 이탈시점</div>
		<div class="analStep3"><input type="radio" name="wave12" value="박스권-돌파 후 박스권 상단 지지"> 돌파 후 박스권 상단 지지</div>
				
		<div class="analStep2">③ 수렴형 <img src="/images/icon/icon_03.png" align="absmiddle"  class="toolTip" id="toolTip2" title="buyTip2" tipWidth='450'></div>
		<div class="analStep3"><input type="radio" name="wave13" value="수렴형-상승-수렴-상승(삼각형)"  class="toolTip" id="toolTip2_1" title="buyTip2_1" tipWidth='300'> 상승-수렴-상승(삼각형)</div>
    	<div class="analStep3"><input type="radio" name="wave13" value="수렴형-상승-수렴-상승(저점 수평형)" class="toolTip" id="toolTip2_2" title="buyTip2_2" tipWidth='400'> 상승-수렴-상승(저점 수평형)</div>
    	<div class="analStep3"><input type="radio" name="wave13" value="수렴형-상승-수렴-상승(고점 수평형)" class="toolTip" id="toolTip2_3" title="buyTip2_3" tipWidth='400'> 상승-수렴-상승(고점 수평형)</div>
    	<div class="analStep3"><input type="radio" name="wave13" value="수렴형-하락-수렴-상승(삼각형)" class="toolTip" id="toolTip2_4" title="buyTip2_4" tipWidth='450'> 하락-수렴-상승(삼각형)</div>
    	<div class="analStep3"><input type="radio" name="wave13" value="수렴형-하락-수렴-상승(저점 수평형)"> 하락-수렴-상승(저점 수평형)</div>
    	<div class="analStep3"><input type="radio" name="wave13" value="수렴형-하락-수렴-상승(고점 수평형)"> 하락-수렴-상승(고점 수평형)</div>
		
		<div class="analStep2">④ 확대형  <img src="/images/icon/icon_03.png" align="absmiddle"  class="toolTip" id="toolTip3" title="buyTip3" tipWidth='400'></div>
		<div class="analStep3"><input type="radio" name="wave14" value="확대형-상승확대"> 상승확대</div>
		<div class="analStep3"><input type="radio" name="wave14" value="확대형-하락확대"> 하락확대</div>
		
		<div class="analStep2">⑤ V파동 <img src="/images/icon/icon_03.png" align="absmiddle" class="toolTip" id="toolTip4" title="buyTip4" tipWidth='400'></div>
		<div class="analStep3"><input type="radio" name="wave15" value="V파동-10일선지지"> 10일선지지</div>
		<div class="analStep3"><input type="radio" name="wave15" value="V파동-상승돌파갭"> 상승돌파갭</div>
	
		<div class="analStep2">⑥ 다중바닥</div>
		<div class="analStep3"><input type="radio" name="wave16" value="다중바닥-쌍바닥"> 쌍바닥</div>
		<div class="analStep3"><input type="radio" name="wave16" value="다중바닥-쓰리바닥"> 쓰리바닥</div>
			
		<div class="analStep2">⑦ 스토캐스틱</div>
		<div class="analStep3">5 :<input type="text" class="border" name="stocastic" style="margin-left:11px;width:100px"></div>
		<div class="analStep3">10 :<input type="text" class="border" name="stocastic" style="margin-left:4px;width:100px"></div>
		<div class="analStep3">20 :<input type="text" class="border" name="stocastic" style="margin-left:4px;width:100px"></div>
       </div>
	</div>
	
	<div id="analysisWrap3">
	<div class="whiteBox">
		<div class="analStep1">7. 장단파동 분석 <span class="analinit" onClick="waveInit(3)">초기화</span></div>
		<div class="analStep2">① 이중파동 <img src="/images/icon/icon_03.png" align="absmiddle" class="toolTip" id="toolTip5" title="buyTip5" tipWidth='450'></div>
		<div class="analStep3"><input type="radio" name="wave17" value="하락가능성 있음" class="waveTip" id="01_A-1" title="하락가능성 있음"> 박스형</div>
		<div class="analStep3"><input type="radio" name="wave17" value="장기매물을 아직 소화 못함" class="waveTip" id="01_A-2" title="장기매물을 아직 소화 못함"> 박스형 상승</div>
		<div class="analStep3"><input type="radio" name="wave17" value="매물을 많이 소화한 모습" class="waveTip" id="01_A-3" title="매물을 많이 소화한 모습"> LW 지지</div>
		<div class="analStep3"><input type="radio" name="wave17" value="고점 돌파" class="waveTip" id="01_A-4" title="고점 돌파"> LW 지지 상향	</div> 
		<hr style="width:180px">
		<div class="analStep3"><input type="radio" name="wave17" value="상향시점에서 매수" class="waveTip" id="01_B-1" title="상향시점에서 매수"> LW 위에서 지지</div>
		<div class="analStep3"><input type="radio" name="wave17" value="고점 돌파" class="waveTip" id="01_B-2" title="고점 돌파<br>상향시점에서 매수"> LW 위에서 지지 상향</div>
		<div class="analStep3"><input type="radio" name="wave17" value="장기매물 완전히 소화" class="waveTip" id="01_B-3" title="장기매물 완전히 소화"> LW 위에서 진행</div>
		<div class="analStep3"><input type="radio" name="wave17" value="확대형 주의" class="waveTip" id="01_B-4" title="확대형 주의"> LW 위에서 SW 확대</div>
		<div class="analStep3"><input type="radio" name="wave17" value="쌍봉 하락의 신호다" class="waveTip" id="01_B-5" title="쌍봉 하락의 신호다"> LW 위에서 SW 수렴</div>
		
		<div class="analStep2">② 삼중파동 <img src="/images/icon/icon_03.png" align="absmiddle" class="toolTip" id="toolTip6" title="buyTip6" tipWidth='400'></div>
		<div class="analStep3"><input type="radio" name="wave18" value="횡보/수렴 한다" class="waveTip" id="03_A-1" title="횡보/수렴 한다"> LW 하향-이격</div>
		<div class="analStep3"><input type="radio" name="wave18" value="횡보/수렴 한다" class="waveTip" id="03_A-2" title="횡보/수렴 한다"> LW 횡보</div>
		<div class="analStep3"><input type="radio" name="wave18" value="MW 정배열 초기" class="waveTip" id="03_A-3" title="MW 정배열 초기")> LW 횡보</div>
		<div class="analStep3"><input type="radio" name="wave18" value="정배열 완성" class="waveTip" id="03_A-4" title="정배열 완성"> LW 상향-이격	</div>
		<hr style="width:180px">
		<div class="analStep3"><input type="radio" name="wave18" value="장기추세 상승전환 됨" class="waveTip" id="03_B-1" title="장기추세 상승전환 됨"> LW 상향</div>
		<div class="analStep3"><input type="radio" name="wave18" value="장기추세 상승 전환 과정" class="waveTip" id="03_B-2" title="장기추세 상승 전환 과정"> LW 횡보</div>
		<div class="analStep3"><input type="radio" name="wave18" value="장기추세 상승 전환 초기" class="waveTip" id="03_B-3" title="장기추게 상승 전환 초기"> LW 하향</div>
	</div>
	</div>
	
	<div id="analysisWrap4">
	<div class="whiteBox">
		<div class="analStep1">8. 대소 파동 분석</div>
	</div>
	</div>
	
</div>

<div id="modalHtml" style="display:none"></div>

<!-- ---------- 기본파동 분석 ----------  -->
<div id="buyTip1" style="display:none">
박스권을 돌파하려면 강한 에너지가 필요하다.<br>
중요한 것은 박스권을 <font color="#0033FF"><u>돌파한 후 상승하려면 조정 받더라도 박스권 상단을 지지해야 한다.</u></font><br><br>
박스권내로 다시 내려온다면 세력이 물량을 매도하기 위한 속임수일 가능성이 있다
</div>

<div id="buyTip2" style="display:none">
<b>상승 후 횡보</b><br> 
상승 후 조정없는(약한조정) 횡보는 아주강하다<br>
상승이 저지된 상태가 아니라 하락이 저지된 상태이다. 상승 확률이 아주 높다<br>
<font color="#0033FF"><u>횡보시 거래량은 줄여야 한다(단타 물량이 나오기 때문에)</u></font><br><br>
그러나 간혹 횡보는 박스권이고 수렴하기  때문에 하방으로 전환 될 수 있다. 박스 이탈이기 때문에 강한 하락이 나올 수 있다<br>
따라서 선취매하는 것이 아니라 돌파초기에 매수한다<br>
<font color="#0033FF"><u>주의할 점은 횡보중 중간중간 거래가 많이 나오고 음봉일때 거래가 많으면 주의를 요한다.</u></font>
</div>
<div id="buyTip2_1" style="display:none">
	상승-수렴-상승(삼각형)<br>
	방향이 불 확실 하다. <font color="#0033FF"><u>두버째 전고점 돌파시 매수 안전</u></font>
</div>
<div id="buyTip2_2" style="display:none">
	<b>상승-수렴-상승(저점 수평형)</b><br>
	고점이 낮아지므로 상승보다 하락 가능성이 상대적으로 크다.<br>
    <font color="#0033FF"><u>마지막 전고점에서 대량 매물이 나올 가능성</u></font>이 있으며 돌파 실패시 박스권으로 간다.
</div>
<div id="buyTip2_3" style="display:none">
	<b>상승-수렴-상승(고점 수평형)</b><br>
	저점이 높아지므로 하락보다 상승 가능성이 높다<br>
	<font color="#0033FF"><u>대파동에서 강한상승 후 소파동에서 수렴형이 나타나서 양호한 조정 모습을 보여줄 가능성이 크다.</u></font>
</div>
<div id="buyTip2_4" style="display:none">
	<b>하락-수렴-상승(삼각형)</b><br>
    하락 후 바닥에서 대파동이 원형으로 도는 모습이 소파동에서 나타나는 형태<br>
    돌파에 실패하면 박스권이 된다.<br><br>
    - 삼각형 / 저점 수평 형 / 고점 수평 형<br><br>
    <font color="#0033FF">
    1. 실전에서는 세력의 힘이 부족하여 추세전화의 시도가 실패하거나 단타를 노리는 세력의 속임수도 등장한다.<br>
    2. 장기파동 아래에서 단기파동이 수렴하면 하락의 가능성이 상대적으로 크다.<br>
    3. 장기파동 위에서 단기파동이 수렴하면 하락의 가능성이 상대적으로 크다.
    </font>
</div>

<div id="buyTip3" style="display:none">
1. 파동은 확대 될수로 힘이 약해진다. 확대형이 나타나면 고점이나 저점에서 급락, 급등이 나올 수 있다.<br>
2. 지수 분봉차트에서 자주 나타난다. 30분봉에서 의미가 있다<br>
3. 확대형이 완성되는 시점으은 쓰리봉일때 확률이 크다.<br><br>
직전저점보다 낮은 저점에서 직전고점보다 높은 고점까지 단기간에 급등함으로 인한 
<font color="#0033FF"><u>차익일 실현하는 단타 세력이 적지 않기 때문에 위험한 것이다.</u></font>
</div>

<div id="buyTip4" style="display:none">
강항 상승 후 이를 상쇄하는 강한 하락이나오거나 강한 하락 후 이를 상쇄하는 강한 상승이 나오는 패턴<br><br>
다음 파동이 새로운 추세의 힘보다 약하게 나와야 추세전한의 의미가 있다.<br> <font color="#0033FF"><u>강 -> 강 -> 약</u></font><br><br>
지수가 하락을 멈추고 V자 반등을 할때 선물에서 추격매도 물량이 손절매 차원에서 환매하게 되면 V자 상승를 가속한다.<br>
<font color="#0033FF"><u>일봉차트의 V자형 반등이 나올때 10일선 지지나 상승돌파갭이 나오면 신뢰도가 높다</u></font>
</div>

<!-- ---------- 장단기파동 분석 ----------  -->
<div id="buyTip5" style="display:none">
1. 장기파동을 오르내리는 단기파동의 중심축이 장기파동 보다 위쪽에 위치할 수록<br>
2. 장기파동이 위를 향하고 그 기울기 급할 수록<br>
3. 단기파동은 저점이 높아질 수록 강하다.<br><br>
	
이상징후<br>
장기파동에 닿지 않던 단기파동이 처음으로 <font color="#0033FF"><u>저점이 낮아지면서 장기파동에 닿으면</u></font> 상승세가 둔화되었다는
이상지후로 받아들이자<br>
다만, 대파동이이 상승세가 강하면 소파동에서 이런 모습이 나오면 양호한 조정일 수도 있다.
</div>

<div id="buyTip6" style="display:none">
장기파동이 중단파동의 위에 위치할 때는 중단파동이 상승이 매물대가 되는 장기파동과 만날 때 저항을 받을 가능성이 많다<br><br>
<font color="#0033FF"><u>특히 단기 파동이 V자형으로 강하게 올라가지 않는 한 장기파동에서 일단 저항을 받을 확률이 크다.</u></font>
</div>




</body>
	
</html>