<html>
<head>
	
<script>
function rm(param){
	if( confirm("삭제하겠습니까?")  == false) return;
	
	location.href = "testDelete.do?" + param;
}
</script>

</head>

<body>


<table cellspacing="0" cellpadding="3" border="1" width="100%" style="border-collapse:collapse; border:1px gray solid;">
<tr> 
	<td width="100">seqNo</td>	
	<td>$!test.seqNo</td>	
</tr>
<tr> 
	<td width="100">itemGroup</td>	
	<td>$!test.itemGroup</td>	
</tr>
<tr> 
	<td width="100">itemNm</td>	
	<td>$!test.itemNm</td>	
</tr>
<tr> 
	<td width="100">newsNm</td>	
	<td>$!test.newsNm</td>	
</tr>
<tr> 
	<td width="100">newsLink</td>	
	<td>$!test.newsLink</td>	
</tr>
<tr> 
	<td width="100">charset</td>	
	<td>$!test.charset</td>	
</tr>
<tr> 
	<td width="100">stp</td>	
	<td>$!test.stp</td>	
</tr>
<tr> 
	<td width="100">useYn</td>	
	<td>$!test.useYn</td>	
</tr>
<tr> 
	<td width="100">flag</td>	
	<td>$!test.flag</td>	
</tr>
</table>

<p>
<a href="testList.do?p=$params.p">목록</a> &nbsp;
<a href="testModifyForm.do?p=$params.p&seqNo=$!params.seqNo">수정</a> &nbsp;
<a href="javascript:rm('p=$params.p&seqNo=$!params.seqNo')">삭제</a> &nbsp;
</p>

</body>
</html>