<script>
function setRoleCd(){

	if( $("input[name=lstRoleCd]:checkbox:checked").length ==0  )	return;

	document.codeForm.userId.value = document.userForm.userId.value;
	
	jQuery.ajax({
		url: 'authCodeRegProc.do',
		type : 'POST',
		data : $("#codeForm").serialize(),
		timeout : 5000,

		error: function(){
			
			alertDialog("알림","저장에 실패하였습니다",function(){
				$("#dialog").dialog("close"); 
			});
		},
		success: function(msg){
			store2.load();
			$("#authReg").dialog("close"); 
		}
	});
	
	
}


function allCheck(th){
	if(th.checked == true){
		 $("input:checkbox[name=lstRoleCd]:not(checked)").attr("checked", "checked");
	}else{
		 $("input:checkbox[name=lstRoleCd]:checked").attr("checked", "");
	}
}
</script>

<table cellspacing="0" cellpadding="0">
<tr><td colspan="3" height="2" bgcolor="#ACBDEA"></td></tr>
<tr height="25" bgcolor="#F2F2F2" align="center">
	<td width="90"><font color="#5D5D5D""><b>코드</b></font></td>
	<td align="left" width="170"><font color="#5D5D5D"><b>코드명</b></font></td>
	<td width="30"><input type="checkbox" onClick="allCheck(this)"></td>
</tr>
#if($codeList)
#set ($color = $alternator.auto("#FFFFFF", "#FAFAFA"))
<form name="codeForm" id="codeForm">
	#foreach($list in $codeList)
	<tr align="center" style="background-color:$color" height="24">
		<td>${list.roleCd}</td>
		<td align="left">${list.roleNm}</td>
		<td><input type="checkbox" name="lstRoleCd" value="${list.roleCd}"  #if(${list.editCd} == 'I') checked #end></td>
	</tr>
	#end
	<input type="hidden" name="userId" id="userId">
</form>	
#else
	<tr><td colspan="3" height="100">사용자가 존재하지 않습니다.</td></tr>
#end


</table>