<html>
<head>
	
<script>

function search(){
	var frm = document.frm;
	frm.submit();
}


$(document).ready(function () {

});

</script>

</head>

<body>
	
	
<div id="wrapper">
	
	<div class="title">HOME > Community > Poll</div>
	

	<div id="subMenu" style="height:22px"> 
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
    	<tr>
			<td width="300">
    			<form name="frm" id="frm" action="./pollList.do" method="get" onSubmit="search();return false">
    			<input type="text" name="searchString" id="searchString" value="$!params.searchString" class="inputBox" style="ime-mode:active;width:300px">
				</form>
			</td>
			<td width="100"><a href="javascript:search()"><img src="/images/common/search_02.gif"></a></td>
			<td>Total : $search.total [  $search.p / $search.totalPage ]</td>
    	</tr>
		</table>
	</div>	

	<table cellspacing="5" cellpadding="0" border="0" width="100%" id="pollTb">
    <tr><td colspan="2" height="2" bgcolor='#ACBDEA'></td></tr>
    
    #foreach($list in $pollList)
		
	<tr height="20">	
		<td width="30" rowspan="2" style="color:#888888;font-weight:bold;text-align:center">$!list.num</td>
		<td align="right" style="color:#888888;font-weight:bold">
			
			#if($list.pollStatus == "0")대기중		
    		#elseif($list.pollStatus == "1")<span style="color:#2B6AB9;font-weight:bold">진행중</span>
    		#elseif($list.pollStatus == "2")종 료
			#end &nbsp;
			
			기간 : $!list.startDate ~ $!list.endDate &nbsp;
			
			참여인원 : $!number.format('integer',$list.hit)
		</td>	
	</tr>	
		
    <tr  height="40" valign="top" class="lineHeight">	
    	<td>
            <a href="./pollRead.do?seqNo=$!list.seqNo&p=$!params.p" style="color:#2B6AB9;font-weight:bold">$!list.title</a><br>
			$!HtmlUtil.lineBreak($list.content)
    	</td>
    
    </tr>
	 <tr><td colspan="2" height="1" bgcolor="#D2D2D2"></td></tr>
	
    #end
    
    #if($search.total == 0)
    <tr align="center" height="150">	
    	<td>자료가 없습니다.</td>
    </tr>
	<tr><td colspan="2" height="1" bgcolor="#D2D2D2"></td></tr>
    #end
    
	 <tr>
		<td colspan="2" height="30">
            <button class="word2" onClick="document.location.href='./pollForm.do'">등록</button>
		</td>
	 </tr>
    
    #if($search.total != 0)
    #set($searchParam = "&searchKey=$!search.searchKey&searchValue=$!search.searchValue")
    <!-- <tr><td colspan="2" height="30" align="center">$HtmlUtil.paging($search.totalPage,$search.p,$searchParam,"./pollList.do")</td></tr> -->
    #end
	
    </table>
	
	#if($search.total != 0)
    #set($searchParam = "&searchKey=$!search.searchKey&searchValue=$!search.searchValue")
	<div id='paging'>
		$!PagingUtil.pagingUrl($search.totalPage,$search.p,$searchParam,$url)
	</div>
    #end
	
</div>
	

</body>
</html>


