	<!-- 댓글 목록 -->
	<table cellspacing="0" cellpadding="0" width="100%" border="0" id="board" style="margin-top:10px">
	<tr><td colspan="3" height="1" bgcolor="#D2D2D2"></td></tr>
	 #foreach($list in $replyList)
	<tr>
        <td width="10%" class="listRow"> 
            <span class="userNm">$!list.userNm</span><br>
			<span class="remark">$!list.regDate</span> 
		</td>
        <td class="listRow" id="cnt$!{list.idx}">$!list.content.replaceAll("\n","<br>")</td>
		<td width="5%" class="listRow">
			#if($auth.user.userId == $list.userId)
    		<img src="/images/board/memo_mo.gif" class="wordTip hand" id="replyMo" title="수정" tipWidth="25" onClick="reply.modify('$!list.idx')">&nbsp;
    		<img src="/images/board/memo_del.gif" class="wordTip hand" id="replyDel" title="삭제" tipWidth="25" onClick="reply.delete('$!list.idx ')">
			#end
		</td>
	</tr>
	#end
    </table>
	
	<!-- 댓글 쓰기 폼 -->
	<table cellspacing="0" cellpadding="0" width="100%" border="0" id="board" style="margin-top:10px">
	<tr>
		<form name="frm" id="frm">
        <td width="85%"><textarea style="padding:5px;height:50px;width:100%" style="border" id="replyBox" name="content"></textarea></td>
		<input type="hidden" name="flag" value="$!params.flag">
		<input type="hidden" name="seqNo" value="$!params.seqNo">
		</form>
		<td width="15%" style="padding-left:20px" valign="top">
			<button class="word4" onClick="reply.write('')">댓글쓰기</button><br><br>
			<img src="/images/icon/icon_14.png " class="wordTip hand" id="replyBox1" title="늘리기" tipWidth="40" onClick="reply.setBox(50)">
			<img src="/images/icon/icon_15.png" class="wordTip hand" id="replyBox2" title="줄이기" tipWidth="40" onClick="reply.setBox(-50)">
		</td>
	</tr>
    </table>