#contentWrap{
	height:500px;
	width:780px;
}
	
#memoList{
	margin-top:20px;
	width:800px;
}	
#memoList .header{
	margin-top:20px;
}	
#memoList .header .date{
	float:left;
	color:#808080;
	font-weight:bold;
}
#memoList .header .action{
	float:right;
}

#memoList .content{
	line-height:20px;
	clear:both;
	border:1px solid #bbb;
	padding:5px;
	-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}

#memoPage{
	margin-top:20px;
	width:800px;
	text-align:center;
}