.joinTitle{color:#0066CF;font-size:12pt;font-weight:bold;}
.joinEle{color:#6D6D6D;font-weight:bold;padding-right:10px;text-align:right}
.joinCheck{color:#0066CF;}

.regTitle{color:#0066CF;font-size:11pt;font-weight:bold;}
.regEle{color:#0066CF;font-weight:bold;padding-right:10px;text-align:right;background-color:#FCFCFC}
.regInfo{color:#0066CF;font-weight:bold;background-color:#FCFCFC}
.regMail{color:#0066CF;font-weight:bold;line-height:25px;text-align:center;;background-color:#FCFCFC;color:#FF9900}


