#set($today = $date.get("yyyyMMdd"))
<div style="margin-bottom:50px">
	<a href="http://stockcharts.com/h-sc/ui?s=%24$!{flag}" target="_blank"><img src="/data/chart/$today/$!{flag}1.png" onerror="this.src='/images/icon/icon_13.png'"></a>
</div>
<div><img src="/data/chart/$today/$!{flag}2.png" onerror="this.src='/images/icon/icon_13.png'"></div>